@import 'styles';

header {
    width: 100%;
    z-index: 1;
    position: fixed;
    // background-color: $budgetto-theme-primary-color;

    .header-wrapper {
        padding: 10px;
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-title {
            margin-bottom: 0;
            font-family: 'Sacramento', sans-serif;
            font-size: 45px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
}
}
