<header>
<div class="header-wrapper" [@scrollAnimation]="state">
<span class="header-title" routerLink="/home">Budgetto</span>
<span *ngIf="userService.getLoggedUser()">Hi, {{userService.getLoggedUser()?.user?.name}}</span>
<app-menu></app-menu>
</div>
</header>