// // define 3 theme color
// // mat-palette accepts $palette-name, main, lighter and darker variants
// $budgetto-theme-primary: mat-palette($mat-cyan, 800, 200, 900);
// $budgetto-theme-accent: mat-palette($mat-light-blue);
// $budgetto-theme-warn: mat-palette($mat-deep-purple, A700);

// // create theme (use mat-dark-theme for themes with dark backgrounds)
// $budgetto-theme: mat-light-theme(
//     $budgetto-theme-primary,
//     $budgetto-theme-accent,
//     $budgetto-theme-warn
// );



