//
// Angular Material theme variables
//
$budgetto-theme-primary: mat-palette($mat-cyan, 800, 200, 900);
$budgetto-theme-accent: mat-palette($mat-cyan);
$budgetto-theme-warn: mat-palette($mat-red);

$budgetto-theme: mat-light-theme(
    $budgetto-theme-primary,
    $budgetto-theme-accent,
    $budgetto-theme-warn
);

// custom material variables
$budgetto-theme-primary-color: mat-color($budgetto-theme-primary);
$budgetto-theme-warn-color: mat-color($budgetto-theme-warn);
