<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Budgetto</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="/app.css" rel="stylesheet"><link href="/styles.css" rel="stylesheet"></head>
<body class="budgetto-theme">
    @RenderBody()
<script type="text/javascript" src="/polyfills.bundle.js"></script><script type="text/javascript" src="/vendor.bundle.js"></script><script type="text/javascript" src="/app.bundle.js"></script><script type="text/javascript" src="/styles.bundle.js"></script></body>
</html>
