<div class="home-wrapper">
  <div class="banner-wrapper">
    <h1>Save money for your dreams</h1>
    <div class="banner-buttons-wrapper">
      <a class="button banner-button" mat-raised-button routerLink="/login">
        {{userService.getLoggedUser() ? 'Dashboard' : "Let's get started!"}}
      </a>
    </div>
  </div>
  <div class="page-wrapper">
    <p>
      Welcome to Budgetto!
    </p>
  </div>
</div>