.home-wrapper {
    .banner-wrapper {
    height: 400px;
    width: 100%;
    background: radial-gradient(circle at right bottom, #80D0C7 -6%, #40AAAB 15%, #00838f 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;

    h1 {
        padding-top: 65px;
        color: white;
        font-size: 40px;
        font-weight: 300;

        
    }

    .banner-buttons-wrapper {
        .banner-button {
            background-color: #EAD941;
            color: #000;
            font-size: 20px;
            padding: 5px 20px;
            margin-top: 50px;

            
        }
    }
}

.page-wrapper {
    padding-top: 20px;
    height: 500px;
}
}