@import 'styles';

.login-wrapper {
    padding-top: 88px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    .login-component {
        margin: 20px;
        padding: 50px;
        max-width: 350px;

        .login-form {
            display: flex;
            flex-direction: column;
            min-width: 250px;
            margin-bottom: 30px;

            .login-form-button {
                margin-top: 20px;
                width: 70%;
                align-self: center;
            }
        }

        .login-form-errors {
            padding: 0;

            li {
                list-style-type: none;
                color: #fff;
                padding: 5px 10px;
                background-color: $budgetto-theme-warn-color;
                border-radius: 2px;
                margin: 3px 0;
            }
        }
    }
}