<div class="page-wrapper">

    <h2>Log in / Sign in</h2>

    <div class="login-wrapper">
        <mat-card class="login-component">
            <mat-card-title>Register</mat-card-title>
            <form (ngSubmit)="registerForm.form.valid && registerUser(registerForm)" #registerForm="ngForm" novalidate class="login-form">
                <mat-form-field>
                    <input name="name" [(ngModel)]="registerUserModel.name" matInput placeholder="User name">
                </mat-form-field>

                <mat-form-field>
                    <input name="email" type="email" [(ngModel)]="registerUserModel.email" matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field>
                    <input name="password" [(ngModel)]="registerUserModel.password" matInput placeholder="Password">
                </mat-form-field>

                <button class="button login-form-button" mat-raised-button color="primary">Register</button>
            </form>

            <ul class="login-form-errors">
                <li *ngFor="let entry of registerErrors?.errorMessages['email']">{{entry}}</li>
                <li *ngFor="let entry of registerErrors?.errorMessages['name']">{{entry}}</li>
                <li *ngFor="let entry of registerErrors?.errorMessages['password']">{{entry}}</li>
            </ul>
        </mat-card>

        <mat-card class="login-component">
            <mat-card-title>Log in</mat-card-title>
            <form (ngSubmit)="loginForm.form.valid && login(loginForm)" #loginForm="ngForm" novalidate class="login-form">
                <mat-form-field>
                    <input name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required matInput placeholder="Email">
                </mat-form-field>
                <div [hidden]="email.valid || email.pristine">
                    <ul class="login-form-errors">
                        <li *ngFor="let entry of loginErrors?.errorMessages['email']">
                            {{entry}}
                        </li>
                    </ul>
                </div>

                <mat-form-field>
                    <input name="password" type="password" [(ngModel)]="model.password" required matInput placeholder="Password">
                </mat-form-field>

                <mat-checkbox name="doNotLogout" color="primary" [(ngModel)]="model.doNotLogout">Do not logout</mat-checkbox>

                <button class="button login-form-button" mat-raised-button color="primary">Log in</button>
            </form>

            <div [hidden]="!loginErrors?.errorMessages['other'] || loginErrors?.errorMessages['other'].length == 0" class="alert alert-danger">
                <ul class="login-form-errors">
                    <li *ngFor="let entry of loginErrors?.errorMessages['other']">
                        {{entry}}
                    </li>
                </ul>
            </div>
        </mat-card>
    </div>
</div>