<div class="dashboard-wrapper page-wrapper">
  <h2>Dashboard</h2>

  <div class="main-wrapper">

    <div class="left-wrapper">

      <div class="card-wrapper">
        <mat-card>
          <mat-card-title>Add new Wallet</mat-card-title>
          <form class="create-wallet-form" (ngSubmit)="newWalletForm.form.valid && createWallet(newWalletForm)" #newWalletForm="ngForm">
            <mat-form-field>
              <input [(ngModel)]="newWallet.name" name="name" matInput placeholder="Wallet name" [disabled]="disabledButton">
            </mat-form-field>

            <button class="button wallet-form-button" mat-raised-button color="primary" [disabled]="disabledButton">Create</button>
          </form>
        </mat-card>
      </div>

      <div class="card-wrapper">
        <mat-card>
          <mat-card-title>My Wallets </mat-card-title>

          <mat-form-field>
            <mat-select placeholder="Select wallet" [(ngModel)]="activeWallet" (change)="onWalletSelection()">

              <mat-optgroup label="Owned wallets">
                <mat-option *ngFor="let wallet of allWallets?.ownedWallets" [value]="wallet.name">
                  {{ wallet.name }}
                </mat-option>
                </mat-optgroup>

                <mat-optgroup *ngIf="allWallets?.sharedWallets?.length > 0" label="Shared wallets">
                <mat-option *ngFor="let wallet of allWallets.sharedWallets?.length > 0" [value]="wallet.name">
                  {{ wallet.name }}
                </mat-option>
                </mat-optgroup>
              
            </mat-select>
          </mat-form-field>

        </mat-card>
      </div>

    </div>

    <div class="right-wrapper">
      <mat-card>
        {{ activeWallet }}
      </mat-card>

      <mat-card>
        <mat-tab-group>
          <mat-tab label="Incomes">Incomes</mat-tab>
          <mat-tab label="Expenses">
            <h3>Expenses</h3>
            <app-expenses></app-expenses>
          </mat-tab>
          <mat-tab label="Goals">Goals</mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

  </div>
</div>