.dashboard-wrapper {
    
    .main-wrapper {
        display: flex;
        justify-content: space-between;

        .left-wrapper {
            flex-basis: 30%;
            margin-right: 20px;
        }

        .right-wrapper {
            flex-basis: 100%;
        }

        .card-wrapper {
            margin-bottom: 20px;
        }
    }
}