<nav>
  <ul>
    <a mat-button routerLink="/home">
      Home
    </a>
    <a mat-button routerLink="/dashboard">
      Dashboard
    </a>

    <a *ngIf="!userService.getLoggedUser()" mat-button routerLink="/login">
      Log in / Register
    </a>
    <a *ngIf="userService.getLoggedUser()" mat-button routerLink="/login" [queryParams]="{logout: true}">
      Log out
    </a>

    <a *ngIf="userService.getLoggedUser()" mat-button routerLink="/my-profile">
      My Profile
    </a>
  </ul>
</nav>